<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Form Patient</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">
<div class="col-md-6 offset-3">
    <form method="post" th:action="@{save(keyword=${keyword},page=${page})}">
        <div class="form-group">
            <label for="id">ID :</label>
            <label th:text="${patient.id}"></label>
            <input type="hidden" class="form-control" th:value="${patient.id}" id="id" name="id">
        </div>
        <div class="form-group">
            <label for="name">Name :</label>
            <input type="text" class="form-control" th:value="${patient.name}" id="name" name="name">
            <span th:errors="${patient.name}" th:value="${patient.name}" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="malade">Malade :</label>
            <input type="checkbox" th:checked="${patient.malade}" id="malade" name="malade">
            <span th:errors="${patient.malade}" th:value="${patient.malade}" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="dateNaissance">Date Naissance :</label>
            <input type="date" class="form-control" th:value="${patient.dateNaissance}" id="dateNaissance" name="dateNaissance">
            <span th:errors="${patient.dateNaissance}" th:value="${patient.dateNaissance}" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Edit Patient</button>
        </div>
    </form>
</div></div>
</body>
</html>