<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
</head>
<body>
<h2>Liste patients</h2>
<table class="table">
    <thead>
    <tr>
        <td>ID</td> <td>Name</td> <td>Malade</td> <td>Date Naissance</td> <td>Actions</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p:${ListPatients}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.name}"></td>
        <td th:if="${p.malade} == false">no</td>
        <td th:if="${p.malade} == true">yes</td>
        <td th:text="${p.dateNaissance}"></td>
        <td><button class="btn btn-danger">Delete</button></td>
    </tr>
    </tbody>

</table>
</body>
</html>